$color-1: white;
$color-2: #ee384e;
$color-3: #e5e5e5;

$buttons-vertical-padding: 0.7em;
$buttons-horizontal-padding: 1em;
$buttons-fonts-size: 0.8rem;

.main-page {
    background-color: $color-1;
    header {
        box-shadow: 0rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
        padding: 2em;
        width: 100%;
        .user {
            a {
                border: 1px solid #e2e2e2;
                border-radius: 5px;
                color: #6e6e6e;
                padding: $buttons-vertical-padding $buttons-horizontal-padding;
                font-size: $buttons-fonts-size;
            }
        }
    }

    .products {
        margin: 0 8% 3em 8%;
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        border-radius: 0rem 0 0.3rem 0.3rem;
        border-top: 0;
        padding: 2em;
        .products-header {
            font-size: 1.5rem;
        }
        .products-body {
            margin-top: 2rem;
            .card {
                box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
                padding: 2em;
                border-radius: 0.5rem;
                .card-buttons {
                    button,
                    a {
                        padding: $buttons-vertical-padding $buttons-horizontal-padding;
                        border-radius: 0.3rem;
                        font-size: $buttons-fonts-size;
                    }
                }
            }
        }
    }

    .product-detail-page {
        display: grid;
        grid-template-columns: 20rem 1fr;
        margin: 0 8% 3em 8%;
        box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
        border-radius: 0rem 0 0.3rem 0.3rem;
        border-top: 0;
        padding: 2em;
        .left {
            padding: 2em;
            font-weight: lighter;
            h1 {
                font-size: 1.5rem;
                padding: 0.3em 1em;
                border-radius: 100rem;
            }
            a {
                padding: $buttons-vertical-padding $buttons-horizontal-padding;
                font-size: $buttons-fonts-size;
                align-self: start;
                margin: 1rem;
                border-radius: 0.3rem;
                iconify-icon {
                    font-size: 1.5rem;
                }
            }
            .description {
                opacity: 0.5;
            }
            .hint {
                margin-top: 1rem;
                strong {
                    font-size: 1.2rem;
                }
                p {
                    border-bottom: 0.1rem rgba(0, 0, 0, 0.1) solid;
                    opacity: 0.5;
                    padding-bottom: 0.3em;
                    font-size: 0.8rem;
                }
            }
        }
        .right {
            form {
                background-color: $color-3;
                padding: 1em;
                border-radius: 0.5rem;

                .form-group {
                    label {
                        cursor: pointer;
                    }
                    iconify-icon {
                        font-size: 1.5rem;
                    }
                    span {
                        font-size: 0.8rem;
                        background-color: white;
                        padding: $buttons-vertical-padding $buttons-horizontal-padding;
                        border-radius: 0.2rem;
                    }
                    a,
                    button {
                        font-size: $buttons-fonts-size;
                        padding: $buttons-vertical-padding $buttons-horizontal-padding;
                    }
                }
            }
        }
    }
}

.admin-panel,
.user-panel,
.shopping-cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
        box-shadow: 0rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
        padding: 1em 2em;
        width: 100%;
        .right {
            img {
                width: 5rem;
                border-radius: 50%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            h1 {
                font-size: 1.4rem;
            }
            small {
                font-size: 1rem;
            }
        }
        .mid {
        }
        .left {
            a {
                width: 17ch;
                padding: 0.5em $buttons-horizontal-padding;
                border-radius: 0.3rem;
                font-size: $buttons-fonts-size;
                iconify-icon {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .panel-container {
        display: flex;
        flex-direction: row;
        min-height: 80vh;
        overflow: hidden;
        aside {
            width: 25rem;
            padding: 2em;
            height: 100%;
            background-color: white;
            box-shadow: 0rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.05);
            border-radius: 0 0 0rem 0.5rem;
            ul {
                a {
                    font-weight: bold;
                    font-size: 0.9rem;
                    padding: $buttons-vertical-padding $buttons-horizontal-padding;
                    iconify-icon {
                        font-size: 1.7rem;
                    }
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }
        }
        main {
            width: 100%;
            padding: 5%;

            form {
                a {
                    padding: $buttons-vertical-padding $buttons-horizontal-padding;
                    border-radius: 0.3rem;
                }
            }
            table {
                border-radius: 0.25rem;
                a,
                button {
                    min-width: 20ch;
                    padding: $buttons-vertical-padding $buttons-horizontal-padding;
                    font-size: 0.7rem;
                }
                th {
                    padding: 1em;
                    &:first-child {
                        border-radius: 0 0.5rem 0 0;
                    }
                    &:last-child {
                        border-radius: 0.5rem 0 0 0;
                    }
                }
                td {
                    padding: 1em;
                    text-align: center;
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        max-width: 5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    p {
                        max-height: 5rem;
                    }
                    span {
                        margin: auto;
                        width: 100%;
                        max-width: 20rem;
                        overflow: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                width: 100%;
            }
        }
        .posts-create {
            form {
                .form-group {
                    label {
                        font-size: 1rem;
                        width: 14ch;
                        &::after {
                            content: " : ";
                        }
                    }
                    input,
                    textarea {
                        all: unset;
                        padding: 0.3em 1em;
                        border-radius: 0.3rem;
                        width: 100%;
                        max-width: 40ch;
                        box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
                        transition: all 0.5s ease;
                        border: 0.1rem transparent solid;

                        &:focus {
                            box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
                            border: 0.1rem black solid;
                        }
                    }
                    textarea {
                        height: 20rem;
                        max-width: 60ch;
                    }
                    img {
                        width: 10rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }
                    a,
                    button {
                        min-width: 13ch;
                        padding: 0.3em 1em;
                    }
                }
            }
        }

        .users-design {
            .card {
                border-radius: 0.5rem;
                box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
                height: max-content;
                .card-header {
                    img {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 0.5rem;
                    }
                }
                .card-body {
                    .email {
                        small {
                            font-weight: bold;
                        }
                        span {
                            width: 10ch;
                            font-size: 0.9rem;
                            &::after {
                                content: " : ";
                            }
                        }
                    }
                }
            }
        }
    }
}

.user-panel {
    .card {
        border-radius: 0.5rem;
        box-shadow: 0.3rem 0.3rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
        height: max-content;
        .card-header {
            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 0.5rem;
            }
        }
        .card-body {
            .email {
                h1 {
                    font-weight: bold;
                    font-size: 1rem;
                }
                span {
                    width: 10ch;
                    font-size: 0.9rem;
                    &::after {
                        content: " : ";
                    }
                }
            }
        }
        .card-buttons {
            padding-bottom: 1em;
            a {
                width: 70%;
                padding: 0.3em 1em;
            }
        }
    }
}

.shopping-cart-page {
    padding: 4em;
    h1 {
        font-weight: bold;
        font-size: 1.7rem;
    }
    
    .card {
        border-radius: 0.5rem;
        padding-bottom: 2em;
        background: linear-gradient(145deg, #e6e6e6, #ffffff);
        box-shadow: 7px 7px 7px #e3e3e352, -7px -7px 7px #ffffff;
        transition: all 0.5s ease;
        &:hover {
        }
       
        .card-header {
            background-color: white;
            padding: 2em;
            border-radius: 0.5rem 0.5rem 0 0;
            img {
                border-radius: 0.5rem 0.5rem 0 0;
            }
        }
        .card-body {
        }
        .card-buttons {
            width: 30ch;
            margin: auto;
            font-size: 0.8rem;
            a {
                iconify-icon {
                    font-size: 1rem;
                }
                width: 100%;
                padding: 0.7em;
                border-radius: 0.3rem;
            }
        }
    }
}
